{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Edit Key" %}{% endblock %}

{% block content_title %}{% trans "Edit Key" %}{% endblock %}
{% block content_description %}{% endblock %}
{% block content %}
    <div class="modal user-modal">
        <div class="modal-header">
        </div>
        <form action="{% url 'keys:edit_version' key_id %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                {% if message %}
                    <div class="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {{ key_form.as_p }}</div>
            <div class="modal-footer">
                <input type="submit" value="{% trans 'Edit' %}"></div>
        </form>
    </div>

{% endblock %}