<link href='{{ STATIC_URL }}css/bootstrap.min.css' type='text/css' media='screen' rel='stylesheet' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href='{{ STATIC_URL }}css/AdminLTE.min.css' type='text/css' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}css/skins/skin-blue.min.css' type='text/css' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}css/keymanager.css' type='text/css' media='screen' rel='stylesheet' />